@font-face {
    font-family: 'Roboto-bold';
    src: url('../fonts/Roboto-Bold.ttf')
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.ttf')
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf')
}

@font-face {
    font-family: 'Code';
    src: url('../fonts/SourceCodePro-Regular.ttf')
}

body {
    background: var(--main-bg-color);
    margin-bottom: 200px;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 4%;
    margin: 0 auto;
}

.separator {
    width: 100%;
    border: 1px solid var(--separator-bg-color);
    filter: blur(2px);
}

h1 {
    font-family: 'Roboto-Bold';
    font-size: 48px;
    line-height: 56px;
    color: var(--text-color);
}

h2 {
    font-family: 'Roboto-Bold';
    
    font-size: clamp(25px, 5.5vw, 32px);
    line-height: 37px;
    color: var(--text-color);

    margin-bottom: 15px;
}

p {
    font-family: 'Roboto-Regular';
    font-size: clamp(14px, 3.5vw, 18px);
    line-height: 21px;
    color: var(--text-color);
}

span {
    color: var(--span-color);
}

body section:first-child {
    margin-top: 25px;
}

section {
    margin-top: 15px;
    margin-bottom: 25px;
}

header {
    background: var(--header-bg-color);
    height: 50px;
    display: flex;
    align-items: center;
}

pre {
    margin: 0;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

/* burger */
.header-burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.header-burger > .header-burger__content {
    width: 28px;
    height: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.4s;
}

.header-burger__content span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: block;
    transition: 0.4s;
    opacity: 1;
    position: absolute;
}

.header-burger__content span:nth-child(1){
    top: 0;
}

.header-burger__content span:nth-child(3){
    bottom: 0;
}

.header-burger.open .header-burger__content span:nth-child(1){
    top: 9px;
    transform: rotate(45deg);
}

.header-burger.open .header-burger__content span:nth-child(3){
    bottom: 8px;
    transform: rotate(-45deg);
}

.header-burger.open .header-burger__content span {
    position: absolute;
    transition: 0.4s;
}

.header-burger.open .header-burger__content span:nth-child(2){
    opacity: 0;
    transition: 0.4s;
}